{% extends "base.html" %}

{% block title %}Today's Calendar{% endblock %}
{% block additional_css %}<link rel="stylesheet" href="css/dayTemplate.css">{% endblock %}

{% block styles %}
    {% for idx in range(todayEvents|length) %}
      .box:nth-child({{ (idx * 2) + 1 }}) {
          background-color: transparent;
          margin: 0;
          padding: 0;
          border: none;
          box-shadow: none;
          height: calc({{ todayEvents[idx]["toPreviousEvent"] }} * var(--dayH) / 86400);

      }
      .box:nth-child({{ (idx * 2) + 2 }}) {
        background-color: {{ colorDict[eventColors[idx]] }};
        height: calc({{ todayEvents[idx]["eventData"].percentOfDay }} * var(--dayH) / 100);
      }
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container">
    <div>
        <div class="time-column">12:00</div>
        <div class="time-column">1:00</div>
        <div class="time-column">2:00</div>
        <div class="time-column">3:00</div>
        <div class="time-column">4:00</div>
        <div class="time-column">5:00</div>
        <div class="time-column">6:00</div>
        <div class="time-column">7:00</div>
        <div class="time-column">8:00</div>
        <div class="time-column">9:00</div>
        <div class="time-column">10:00</div>
        <div class="time-column">11:00</div>
        <div class="time-column">12:00</div>
        <div class="time-column">1:00</div>
        <div class="time-column">2:00</div>
        <div class="time-column">3:00</div>
        <div class="time-column">4:00</div>
        <div class="time-column">5:00</div>
        <div class="time-column">6:00</div>
        <div class="time-column">7:00</div>
        <div class="time-column">8:00</div>
        <div class="time-column">9:00</div>
        <div class="time-column">10:00</div>
        <div class="time-column">11:00</div>
    </div>
    <div>
        {% for event in todayEvents %}
            <div class="box"></div>
            <div class="box">{{ event["eventData"].iD }}</div>
        {% endfor %}
    </div>
    </div>
{% endblock %}